:root {
  --primary-color: #4f46e5;
  --primary-color__hover: #3730a3;
  --primary-color__disabled: #cccbdc;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  display: flex;
  border-radius: 5px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: var(--primary-color__hover);
}

main { 
  padding: 1em;
}

/* Forms */

.form {
  max-width: 400px;
}

.form input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form .radio-group .heading {
  margin: 6px 0;
}

.form .radio-group .radio {
  padding: 12px 20px 12px 0;
  display: inline-block;
}

.form input[type=submit] {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  font-size: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  background-color: var(--primary-color__hover);
}

.form input[type=submit]:disabled {
  background-color: var(--primary-color__disabled);
  cursor: not-allowed;
}

/* Utility classes */

.error {
  color: red;
  margin-bottom: 1em;
}

.message {
  margin-bottom: 1em;
}

.spinner {
  margin-top: 1em;
}